@font-face {
    font-family: Arboria-Book;
    src: url(../fonts/arboria/Arboria-Book.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: Arboria-Bold;
    src: url(./../fonts/arboria/Arboria-Bold.ttf) format("truetype");
    font-weight: 700;
}

html {
    line-height: 1.15;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arboria-Book', sans-serif;
}

body {
    background-size: cover;
    background: #ffffff;
    color: #222;
}

.App {

    display: flex;
    flex-direction: column;
}

.App h1 {
    display: inline;
    text-align: center;
    margin-bottom: 2rem;
    color: #e1ebfd;
    text-shadow: 0 0 5px #433aa8, 1px -1px;
}



.todo-input {
    min-width: 15rem;
    width: 50%;
    max-height: 2.5rem;
    background-color: #e1ebfd;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    align-self: center;
}

.todo-input:focus {
    outline: none;
    border: 2px solid #433aa8;
}

.add-btn {
    width: 3rem;
    height: 3rem;
    background-color: #271c6c;
    color: #e1ebfd;
    border-radius: 50%;
    border: 2px solid #e1ebfd;
    box-shadow: 2px 4px 10px #271c6c;
    justify-content: center;
    align-self: center;
}

.add-btn:focus {
    outline: none;
}

.display-todos {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-todos .buttons {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.display-todos .buttons button {
    padding: 0.5rem 1.2rem;
    border-radius: 0.4em;
    cursor: pointer;
    background-color: white;
    box-shadow: 2px 4px 10px #d6d6d6;
    border: none;
}

.display-todos .buttons button:focus {
    outline: none;
}

.display-todos .buttons button:not(:last-child) {
    margin-right: 1rem;
}

.display-todos ul {
    list-style: none;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    margin: 0 1rem 1rem 0;
    width: 18rem;
    box-shadow: 2px 4px 10px #d6d6d6;
    border-radius: 0.5rem;
    padding: 1rem;
}

.card textarea {
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    background-color: rgba(239, 239, 239, 0.47);
    color: #000000;
    resize: none;
    height: 70%;
}

.card .btns {
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .btns button {
    border-radius: 10px;
    border: none;
    margin: 1rem 0 0 0;
    padding:  0.4rem 1rem;
    font-size: .7rem;
    width: 100%;
    cursor: pointer;
    color: #ffffff;
    background: rgba(255, 127, 69, 0.8);
}

.completed{
    width: 100%;
    margin-top: 1rem;
    align-self: center;
    font-size: .8em;
    padding: .5rem;
    box-shadow: none;
    color: #ffffff;
    border-radius: 8px;
    background-color: rgba(69, 168, 54, 0.55);
}



.gradient-overlay {
    background: linear-gradient(to right, rgba(85, 164, 161, 0.6) 0%, rgba(211, 137, 108, 0.2) 50%);
}








::-webkit-scrollbar {
    width: 8px;

}
::-webkit-scrollbar-track {
    background-color: #d5d5d5;
    border-radius: 10em;
}
::-webkit-scrollbar-thumb {
    background: #818181;
    border-radius: 10em;
}


